/* Landing Page CSS */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #6CA6C1;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}
#login {
    text-align: center;
    font-weight: bold;
}
.SiteInfo {
    text-align: center;
}
.registration {
    text-align: center;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.navbar {
    padding-left: 10px;
}
